Repository IMLS/estimating-wifi, pull requests merged in 2022-07, with the labels that each got.

#22 refresh README
  README.md
Labels: internal

#49 Initial draft for the data model ADR
  doc/adr/0003-data-model.md
  doc/images/ER_Diagram_Sensors.png
  doc/images/data_heriachy.jpg
Labels: data model

#46 Updated node dependencies to fix trivy lint errors
  imls-directus/package-lock.json
Labels: internal

#21 output rfc3339
  imls-directus/extensions/migrations/20220630A-timestamptz.js
  imls-directus/extensions/migrations/20220720A-not-nullable.js
  imls-directus/extensions/migrations/snapshot.yaml
  imls-raspberry-pi/cmd/session-counter/tlp/process_data.go
  imls-raspberry-pi/internal/structs/durations.go
Labels: data viz
